<h1>Welcome to your account</h2>

<h2>Here are all your days</h1>
<a href="/days/new">Start a new day</a>

<h3>Here are you days</h3>
<ul>
<% @days.each do | day |%>
<li><%=day.name %><br>
<a class="btn btn-success" href="/days/<%= day.id%>">View</a>
<form action="/days/<%=day.id %>" method="POST" >
<input type="hidden" name="_method" value="DELETE">
<button class="btn btn-danger">DELETE</button>
</li>
</ul>
<%end%>
