<div class="container">
<div class="day-form bg-white rounded shadow-lg mt-5 p-5">
<h3 class="text-secondary display-4 p-4 text-center">Edit Your Day</h3>
<form  action="/days/edit/<%=@day.id%>" method="POST">
<input type="hidden" name="_method" value="PUT" />
<div class="form-group">
<label>Enter in the foods you've eaten seperated by commas</label>
<input class="form-control" name="food" value="<%=@day.food %>"
rows=4 />
</div>
<div class="form-group">
<label>Enter in your workouts seperated by commas</label>
<input class="form-control" name="workout" value="<%=@day.workout %>"  rows=4 />
</div>
<div class="form-group">
<label>Estimate your total calories</label>
<input name="calorie" class="form-control" value="<%=@day.calorie %>"
 />
</div>
<button class="btn btn-primary" >Update Day</button>

</form>
</div>
</div>
