
<body>
<section class="home-section">
<div class="container">
<div class="row">
<div class="home-section-header col-lg-8 p-5">
<h1 class="home-section-heading">Track all your <span class="heading-span"> health<br></span> and <span class="heading-span"> fitness </span> goals</h1>
<a href="/users/register" class="sign-up ">Sign Up Now</a>
</div>
</div>
</div>
</section>
<section class="tracker-section bg-dark pb-5">
<h1 class="tracker-section-heading text-center text-white p-5">Keep Track Of...</h1>
<div class="container">
<div class="row">
<div class="col-4 col-sm-4 call-md-4 col-lg-4 m-.5  card bg-light shadow">
<div class="card-body">
<h4 class="card-heading text-center"><i class="fas fa-calendar-day"></i></h4>
<p class="card-text text-center">Your Days</p>

</div>
</div>
<div class="col-4 col-sm-4 call-md-4 col-lg-4 m-.5 card bg-light shadow">
<div class="card-body">
<h4 class="card-heading text-center"><i class="fas fa-clock"></i></h4>
<p class="card-text text-center">Wake Up Time</p>

</div>
</div>
<div class="col-4 col-sm-4 call-md-4 col-lg-4 m-.5 card bg-light shadow">
<div class="card-body">
<h4 class="card-heading text-center"><i class="fas fa-clipboard-list"></i></h4>
<p class="card-text text-center">Daily Tasks</p>

</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-4 col-sm-4 call-md-4 col-lg-4 m-.5 card bg-light shadow">
<div class="card-body">
<h4 class="card-heading text-center"><i class="fas fa-utensils"></i></h4>
<p class="card-text text-center">Foods You've Eaten</p>

</div>
</div>
<div class="col-4 col-sm-4 call-md-4 col-lg-4 m-.5 card bg-light shadow">
<div class="card-body">
<h4 class="card-heading text-center"><i class="fas fa-dumbbell"></i></h4>
<p class="card-text text-center">Your Workouts</p>

</div>
</div>
<div class="col-4 col-sm-4 call-md-4 col-lg-4 m-.5 card bg-light shadow">
<div class="card-body">
<h4 class="card-heading text-center"><i class="fas fa-hamburger"></i></h4>
<p class="card-text text-center">Your Calories</p>

</div>
</div>

</div>
</div>
</section>
<section class="about-section p-5">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/images/fit-girl.jpg" class="img-fluid mb-3 img-thumbnail">
        </div>
        <div class="col-md-6">
          <h2 class="text-center text-dark about-header">Get Track of your life</h2>
          
         <p class="about-paragraph text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore reiciendis, voluptate at alias laborum odit aliquid
            tempore perspiciatis repudiandae hic?</p>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio iusto, perspiciatis mollitia natus harum?
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio iusto, perspiciatis mollitia natus harum?
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
   <footer id="main-footer" class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col text-center py-4">
          <h4 class="text-white">One Stop Trak</h4>
          <p class="text-white">Copyright &copy;
            
          </p>
        
        </div>
      </div>
    </div>
  </footer>
</body>