
<body>
<section class="home-section">
<div class="container">
<div class="row">
<div class="col-lg-4 mt-5">
            <div class="card bg-dark text-center card-form mt-5 ">
              <div class="card-body">
                <h3 class="text-white">Sign Up Today</h3>
                <p class="text-white">Please fill out this form to register</p>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                  </div>
                  <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                </form>
              </div>
            </div>
          </div>
<div class="home-section-header col-lg-8 p-5">
<h1>Track all your <span class="heading-span"> health<br></span> and <span class="heading-span"> fitness </span> goals</h1>
<a href="/users/register" class="sign-up ">Sign Up Now</a>
</div>

  
  </div>
</div>
</section>
</body>