<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>

</nav>
<nav>
  <% if session[:logged_in] %>
    <p> Logged in as <%= session[:username] %> </p>
    <a href="/users/logout">Log Out</a>
  <% else%>
    <a href="/users/login">Log In</a>
    <a href="/users/register">Register</a>
  <% end %>
</nav>

<% if session[:message] %>
<p class="message <%= session[:message][:status] %> ">
<%= session[:message][:message] %>
</p>
<%
 end 
 session[:message] = nil 
 %>

</header>


<%= yield %>

</body>
</html>