<H1>Start Your New Day here</h1>
<h2>Please Fill Out the following</h2>
<h3>You can Add / change later in the day </h3>

<form  action="/days/new" method="POST">
<input 
type="text" 
name="name" 
placeholder="name your day" />
<input 
type="text" 
name="time" 
placeholder="time you woke up" />
<textarea name="tasks">Enter Your days taks </textarea>
<textarea name="foods">Enter in the foods you've eaten</textarea>
<textarea name="workout">Enter in your workouts</textarea>
<button>Create Day</button>

<form>