<div class="container mt-6">
<h1 class="mt-5">
Search for meals
</h1>
<form action="/search/1" method="GET">
					<div class="form-group float-right">
						<input type="text" name="input" >
						<button class="btn btn-success">SEARCH</button>
					</div>
		</form>

</div>


