<div class="conatiner mt-5 py-5">

<h1>Here are all Your posts</h1>

<% @posts.each do |post|%>
<div class="card">
<div class="card-heading">
<h2><%=post.title%><h2>

<div class="card-body">
<p><%=post.content%></p>
</div>
<a href="/posts/<%= post.id%>">View</a>
        <form action="/posts/<%=post.id %>" method="POST" >
        <input type="hidden" name="_method" value="DELETE">
        <button>DELETE</button>
          </form>
<div>

</div>


<% end %>
<h4>End of your posts</h4>

</div>