*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
.home-section{
  height: 90vh;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)) ,url(../images/home-section.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

}
.home-section-header{
 margin-top: 150px;
}
.home-section-heading{
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.heading-span{
  text-transform: uppercase;
  color: orange;
}
.days-container{
  max-width: 1200px;
  margin: 0 auto;
  background-color: blue;
}
.day-card{
  border: 2px solid #000;
  float: left;
  width: 200px;
  margin: 0px 5px;
}
.day-card-heading{
  background-color: #000;
  color: white;
  font-size: 16px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}
.day-card-body{
  border-bottom: 3px solid #555;
  font-size: 15px;
  padding: 5px;
  text-align:center;
  font-weight: bold;
}
.day-card-buttons{
  display: flex;
  justify-content: center;
  padding: 5px;
}
.day-card-buttons a, button{
  float: left;
  padding: 2px 17px;
}
.day-card-buttons button{
  border: none;
  background-color: red;
  color: #fff;
  margin: 0px 5px;
}
.day-card-buttons a{
  background-color: green;
  color: #000;
  text-transform: uppercase;
}
.like-btn{
  border: none;
}

