*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.home-section{
  height: 90vh;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)) ,url(../images/home-section.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

}
.home-section-header{
 margin-top: 150px;
 
}
.home-section-heading{
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.heading-span{
  text-transform: uppercase;
  color: orange;

}
.tracker-section-heading{
  font-size: 300px;
  color: #000;
}


